{% extends 'layouts/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
{% block head %}
{% endblock %}




{% block content %}
{% include 'layouts/header.html' %}
{% include 'layouts/messages.html' %}

<main>
    <section class="section-1">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                {% for first_image, image_carousel in images_carousel %}
                <div class="carousel-item {% if first_image == 0 %}active{% endif %}" data-bs-interval="8000">
                    <div class="content-slogan-image">
                        <div>
                            <span>Por solo <span class="image-price">${{image_carousel.series.price}}</span></span>
                            <p class="image-slogan">{{image_carousel.slogan}}</p>
                            {% if image_carousel.series.offer_price > 0 %}
                            <p class="text-offer">oferta exclusiva <span>{{image_carousel.series.percentage}}</span> de
                                esta semana</p>
                            {% endif %}
                            <a href="{{image_carousel.series.get_url}}" class="url-product">
                                Comprar ahora
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                    <path
                                        d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                        <img src="{{image_carousel.series.image.url}}" alt="{{image_carousel.series.product_name}}"
                            class="image-carousel">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <section class="section-2">
        <ul>
            <li>
                <img src="{% static 'icons/truck.svg' %}" alt="truck">
                <div>
                    <p>Entrega rapida y segura</p>
                    <p>Cuentanos sobre tu servicio</p>
                </div>
            </li>
            <li>
                <img src="{% static 'icons/money.svg' %}" alt="money">
                <div>
                    <p>
                        Garantía de devolución del dinero
                    </p>
                    <p>En 10 dias</p>
                </div>
            </li>
            <li>
                <img src="{% static 'icons/return.svg' %}" alt="return">
                <div>
                    <p>
                        Política de devolución de 24 horas
                    </p>
                    <p>
                        No hay preguntas.
                    </p>
                </div>
            </li>
            <li>
                <img src="{% static 'icons/support.svg' %}" alt="support">
                <div>
                    <p>
                        Soporte de calidad profesional
                    </p>
                    <p>
                        24/7 Soporte en vivo
                    </p>
                </div>
            </li>
        </ul>
    </section>


    <section class="section-3">
        <div class="content-title-section-3">
            <h3>Recientes</h3>
            <a href="#">
                Ver recientes
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24">
                    <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z">
                    </path>
                </svg>
            </a>
        </div>
        <ul class="ul-products">
            {% for recent_product in recent_products|slice:"14" %}
            {% if recent_product.offer_price > 0 %}
            <li class="li-content-product">
                {% if user.is_superuser %}
                <div class="content-product-image">
                    <div class="dropdown drop-options-products">
                        <button type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'icons/dot-vertical.svg' %}" alt="dot-menu">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                        </ul>
                    </div>
                    <a href="{{recent_product.get_url}}">
                        <img src="{{recent_product.image.url}}" alt="{{recent_product.product_name}}">
                        <span class="percentage-product">{{recent_product.percentage}} OFERTA</span>
                    </a>
                </div>
                {% else %}
                <div class="content-product-image">
                    <a href="{{recent_product.get_url}}">
                        <img src="{{recent_product.image.url}}" alt="{{recent_product.product_name}}">
                        <span class="percentage-product">{{recent_product.percentage}} OFERTA</span>
                    </a>
                </div>
                {% endif %}
                <div class="content-name-price-offer">
                    <a href="{{recent_product.get_url}}" title="{{recent_product.product_name}}" class="name-product">
                        {{recent_product.product_name}}
                    </a>
                    <div class="content-product-price">
                        <p class="p-offer-price">$ {{recent_product.old_price}}</p>
                        <p class="official-price">$ {{recent_product.price}}</p>
                    </div>

                    <a href="{% url 'add_cart' recent_product.id %}" class="add-to-cart">Agregar al carrito</a>
                </div>

            </li>
            {% else %}

            <li class="li-content-product">
                {% if user.is_superuser %}
                <div class="content-product-image">
                    <div class="dropdown drop-options-products">
                        <button type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'icons/dot-vertical.svg' %}" alt="dot-menu">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                        </ul>
                    </div>
                    <a href="{{recent_product.get_url}}">
                        <img src="{{recent_product.image.url}}" alt="{{recent_product.product_name}}">
                    </a>
                </div>
                {% else %}
                <div class="content-product-image">
                    <a href="{{recent_product.get_url}}">
                        <img src="{{recent_product.image.url}}" alt="{{recent_product.product_name}}">
                    </a>
                </div>
                {% endif %}
                <div class="content-name-price-offer">
                    <a href="{{recent_product.get_url}}" title="{{recent_product.product_name}}" class="name-product">
                        {{recent_product.product_name}}
                    </a>
                    <div class="content-product-price">
                        <p class="official-price">$ {{recent_product.price}}</p>
                    </div>

                    <a href="{% url 'add_cart' recent_product.id %}" class="add-to-cart">Agregar al carrito</a>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </section>


    <section class="section-4">
        <div class="content-title-section-4">
            <h3>Descuentos</h3>
            <a href="#">
                Ver Descuentos
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24">
                    <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z">
                    </path>
                </svg>
            </a>
        </div>
        <ul class="ul-products">
            {% for discount_product in discount_products|slice:"14" %}
            {% if discount_product.offer_price > 0 %}
            <li class="li-content-product discount-product">
                {% if user.is_superuser %}
                <div class="content-product-image">
                    <div class="dropdown drop-options-products">
                        <button type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'icons/dot-vertical.svg' %}" alt="dot-menu">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                        </ul>
                    </div>
                    <a href="{{discount_product.get_url}}">
                        <img src="{{discount_product.image.url}}" alt="{{discount_product.product_name}}">
                        <span class="percentage-product">{{discount_product.percentage}} OFERTA</span>
                    </a>
                </div>
                {% else %}
                <div class="content-product-image">
                    <a href="{{discount_product.get_url}}">
                        <img src="{{discount_product.image.url}}" alt="{{discount_product.product_name}}">
                        <span class="percentage-product">{{discount_product.percentage}} OFERTA</span>
                    </a>
                </div>
                {% endif %}
                <div class="content-name-price-offer">
                    <a href="{{discount_product.get_url}}" title="{{discount_product.product_name}}"
                        class="name-product">
                        {{discount_product.product_name}}
                    </a>
                    <div class="content-product-price">
                        <p class="p-offer-price">$ {{discount_product.old_price}}</p>
                        <p class="official-price">$ {{discount_product.price}}</p>
                    </div>

                    <a href="{{discount_product.get_url}}" class="add-to-cart">Agregar al carrito</a>
                </div>

            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </section>
</main>
{% include 'layouts/footer.html' %}
{% endblock %}