{% extends 'layouts/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/change-password.css' %}" type="text/css">
{% endblock %}
{% block title %}Hardware sv | Change password{% endblock %}


{% block content %}
{% include 'layouts/header.html' %}
{% include 'layouts/messages.html' %}
<main class="main-change-password">
    <section class="section-1-change-password">
        <h2>Cambiar contraseña</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="password" name="new_password1" id="id_new_password1" required autocomplete="new-password"
                placeholder="Contraseña">
            <input type="password" name="new_password2" id="id_new_password2" required autocomplete="new-password"
                placeholder="Confirmar contraseña">
            <button type="submit" class="button-change-password">Cambiar contraseña</button>
        </form>
    </section>
</main>
{% include 'layouts/footer.html' %}
{% endblock %}