{% extends 'layouts/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/forgot_password_reset_form.css' %}" type="text/css">
{% endblock %}
{% block title %}form forgot password{% endblock %}


{% block content %}
{% include 'layouts/header.html' %}
{% include 'layouts/messages.html' %}
<main class="main-forgot-password">
    {% if type  == "reset" %}
    <section class="section-1-send-email">
        <h3>Enviar correo electrónico de validación</h3>
        <form action="{% url 'forgot_password' %}" method="POST">
            {% csrf_token %}
            <input type="email" name="email" id="id_email" autocomplete="email" maxlength="254" required
                placeholder="Introducir correo">
            <button type="submit">Enviar correo</button>
        </form>
    </section>
    {% else %}
    <section class="section-new-password">
        <h3>Restablecer contraseña</h3>
        <form action="{% url 'reset_password_confirm' %}" method="POST">
            {% csrf_token %}
            <input type="password" name="new_password1" id="id_new_password1" required autocomplete="new-password"
                placeholder="Contraseña">
            <input type="password" name="new_password2" id="id_new_password2" required autocomplete="new-password"
                placeholder="Confirmar contraseña">
            <button type="submit">Restablecer contraseña</button>
        </form>
    </section>
    {% endif %}
</main>
{% include 'layouts/footer.html' %}

{% endblock %}