{% extends 'layouts/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}" type="text/css">
{% endblock %}
{% block title %}Hadware sv | Sign In{% endblock %}



{% block content %}
{% include 'layouts/header.html' %}
{% include 'layouts/messages.html' %}

<main class="main-signin">
    <section class="section-1-singin">
        <h3>Acceda a su cuenta</h3>
        <form action="{% url 'signin' %}" method="POST" class="form-login-user">
            {% csrf_token %}
            <input type="email" name="username" id="id_username" required autocomplete="email" autofocus maxlength="254"
                placeholder="Introducir correo">
            <input type="password" name="password" id="id_password" required placeholder="Introducir contraseña">
            <button type="submit" class="button-login-account">Iniciar sesión</button>
        </form>
        <a href="{% url 'forgot_password' %}" class="forgot-password-link">¿Olvidó su
            contraseña?</a>
        <p class="go-signin mt-3">¿Aún no tiene cuenta? <a href="{% url 'signup' %}">Registrate</a></p>
    </section>
</main>
{% endblock %}