.content-menu-movil {
    display: none;
}


/* HEADER */

.header {
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100000000000;
    user-select: none;
    background-color: white;
    transition: border-color 0.3s ease;

}


#header .scrolled {
    box-shadow: 0 5px 5px -5px gray;
    border: none;
}

.header-nav {
    max-width: 1500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin: 0 auto;
    position: relative;
    z-index: 10000;
}


/* LOGO PAGE */
.content-logo {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: var(--color-logo);
    font-size: 2.1rem;
    font-weight: 600;
}

.content-logo>span {
    font-size: 2.4rem;
    color: var(--primary-color3);
}



/* CONTENT SEARCH BAR */

.content-search-bar {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--primary-color3);
}

/* DROPDONW CATEGORIES */

.dropdown-categories {
    height: 100%;
    border-radius: 4px;
}


.dropdown-categories {
    border: none;
    outline: none;
    background-color: inherit;
    transition: .2s;
}

/* BUTTON CATEGORIES */
.dropdown-categories>button {
    display: flex;
    align-items: center;
    border: none;
    height: 100%;
    padding: 0 15px;
    color: white;
    background-color: var(--primary-color3);
    border-radius: 4px 0 0 4px;
}

.dropdown-categories>button>svg {
    margin-top: -5px;
}


.dropdown-content-categories {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 300px;
    overflow-y: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    color: black;
    top: 80px;
    box-shadow: 0 5px 5px -5px gray;
    border-top: 1px solid var(--border-color);
}


.row-categories {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(14.3rem, 1fr));
    padding: 20px;
}

.column-categories>a {
    color: rgba(78, 78, 78, 0.808);
    padding: 13px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: .1s;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    transition: ease-in-out .2s;
}

.column-categories>a:hover {
    color: var(--primary-color3);
    border: 1px solid var(--primary-color3);
}



/* FORM SEARCH DESK */

.search-desk {
    height: 40px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--primary-color3);
    border-bottom: 1px solid var(--primary-color3);
    border-radius: 0 4px 4px 0;
}

.search-desk>input {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 5px 10px;
    line-height: 1.25rem;
    border: none;
}

.search-desk>input:focus {
    outline: none;
    background-color: inherit;
}


.search-desk>button {
    height: 100%;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: inherit;
}



/* CONTENT ACCOUNT AND CART */

.content-account-cart {
    display: flex;
    align-items: center;
    gap: 20px;
}


/* BUTTON CONTENT CART */
.content-account-cart>a:nth-child(1) {
    border: none;
    background-color: inherit;
    padding: 0;
}

.content-account-cart>a:nth-child(1)>svg {
    fill: var(--primary-color2);
    cursor: pointer;
    transition: .2s;
}

.content-account-cart>a:nth-child(1)>svg:hover {
    fill: #4684ff;
}


.content-account-cart>a:nth-child(1)>span {
    background-color: var(--primary-color1);
}


/* ACCOUNT SIGN UP*/

.content-signup {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.content-signup>div {
    display: flex;
    align-items: center;
    font-size: .8rem;
    color: gray;
}

.content-signup>div>p {
    margin: auto;
}

.content-signup>div>p>span {
    font-weight: 600;
    font-size: .9rem;
    color: var(--primary-color2);
}


/* WHEN USER IS AUTHENTICATED */

.button-menu-profile {
    padding: 0;
    width: fit-content;
    border-radius: 50%;
    border: none;
    background-color: inherit;
}

.header-profile-pick {
    width: 55px;
    height: 55px;
}