/* SECTION THE CAROUSEL  */

.section-1 {
    background-color: #E3EDF6;
    user-select: none;
}

/* BUTTONS AT THE BOTTOM */

.carousel-indicators>button {
    background-color: var(--primary-color3) !important;
}

/* CONTAINER TEXT AND IMAGE  */
.content-slogan-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;
}


.content-slogan-image>div {
    max-width: 797px;
}



/* IMAGEN THE CAROUSEL */
.image-carousel {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

/* SLOGAN TEXT */
.image-slogan {
    font-size: 3rem;
    font-weight: 900;
    color: var(--primary-color2);
    text-wrap: pretty;
}

/* PRICE */
.image-price {
    font-weight: 900;
    color: var(--primary-color2);
}

.text-offer {
    font-family: var(--font-handlee);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--primary-color2);
}

.text-offer>span {
    color: var(--primary-color1);
    font-weight: 900;
    font-size: 1.6rem;
}


/* URL THE PRODUCT */
.url-product {
    display: flex;
    align-items: center;
    width: fit-content;
    text-decoration: none;
    color: var(--primary-color2);
    background-color: white;
    padding: 13px 25px;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    transition: .2s;
    fill: var(--primary-color2);
    box-shadow: -1px 1px 2px rgb(211, 211, 211);
}



.url-product:hover {
    fill: white;
    background-color: var(--primary-color3);
    color: white;
}





/* SECTION 2 */


.section-2 {
    margin-top: 200px;
    padding: 0 30px;
}

.section-2>ul {
    max-width: 1380px;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}


.section-2>ul>li {
    display: flex;
    padding: 25px 30px;
    gap: 20px;
    height: 150px;
    background-color: #F6F7F9;
    text-wrap: pretty;
    border-radius: 4px;
}

.section-2>ul>li>img {
    align-self: flex-start;
}


.section-2>ul>li>div>p:nth-child(1) {
    font-size: 14px;
    color: var(--primary-color2);
    font-weight: 600;
}

.section-2>ul>li>div>p:nth-child(2) {
    font-size: 13px;
    color: rgb(65, 65, 65);
}


/* SECTION 3 */
.section-3 {
    margin-top: 200px;
    padding: 0 30px;
}


.content-title-section-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-title-section-3>h3 {
    font-size: 3.2rem;
    font-weight: 900;
    color: var(--primary-color2);
    position: relative;
    z-index: 100;
}

.content-title-section-3>h3::before {
    content: "";
    width: 100%;
    display: block;
    height: 1.5px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--primary-color1);
    border-radius: 5px;
    z-index: 100;
}

.content-title-section-3>a {
    display: flex;
    align-items: center;
    fill: var(--primary-color2);
    color: var(--primary-color2);
    border: 1px solid var(--primary-color3);
    padding: 8px 30px;
    border-radius: 4px;
    text-decoration: none;
    transition: ease .2s;
}


.content-title-section-3>a:hover {
    background-color: var(--primary-color3);
    color: white;
    fill: white;
}


/* UL CONTENT PRODUCTS */
.ul-products {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(14.5rem, 1fr));
}

/* LI */
.li-content-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* box-shadow: 0 0 3px rgb(216, 216, 216); */
    border-radius: 5px;
    height: fit-content;
    border: 1px solid var(--border-color1);
}


.li-content-product:hover {
    box-shadow: 0 0 8px rgb(216, 216, 216);
}


/* CONTENT PRODUCT IMAGE */
.content-product-image {
    position: relative;
    z-index: 1000;
    border-bottom: 1px solid var(--border-color1);
}

/* DROP MENU IF USER IS SUPERUSER */

.drop-options-products {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}

.drop-options-products>button {
    border: none;
    padding: 3px;
    display: block;
    border-radius: 50%;
    background-color: inherit;
    transition: ease-out .2s;
}

.drop-options-products>button:hover {
    background-color: var(--primary-color1);
    fill: white !important;
}


/* PRODUCT IMAGE */
.content-product-image>a>img {
    width: 100%;
    height: 221px;
    object-fit: contain;
}


/* PERCENTAGE OFFERT IN IMAGE */
.content-product-image>a>span {
    position: absolute;
    top: 10px;
    right: 0;
    color: white;
    padding: 3px 10px;
    background-color: var(--primary-color1);
    font-size: 12.5px;
    font-weight: 600;
    border-radius: 5px 0 0 5px;
}



.content-name-price-offer {
    padding: 0 20px 20px;
}

/* PRODUCT NAME */
.name-product {
    text-decoration: none;
    color: var(--primary-color2);
    font-weight: 600;
    font-size: 14px;
    margin-top: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* CONTENT PRICES AND OFFERT */
.content-product-price {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}


.p-offer-price {
    font-size: 13px;
    text-decoration: line-through;
    color: rgb(104, 104, 104);
}

.official-price {
    font-weight: 600;
    color: var(--primary-color3);
}


/* ADD CART */
.add-to-cart {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: white;
    background-color: var(--primary-color1);
    border-radius: 5px;
}






@media (max-width:1075px) {
    .section-2>ul {
        grid-template-columns: repeat(auto-fill, minmax(14.5rem, 1fr));

    }
}